[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
passlib = "*"
bcrypt = "*"
python-multipart = "*"
aiofiles = "*"
python-jose = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.9"
